footer{
    margin: 0;
    padding: 0;
}
footer .top-footer-menu{
    padding-left: 50px;
    margin-top: 50px;
}
footer .top-footer-menus ul p{
    color:#524B29; 
    font-size: 85px;
}
footer section{
    display:flex;
    flex-direction:row;
}
footer .six-footer-menus{
    margin-left:25px;
    width:100%;
    padding:20px 20px;
    color:#292929; 
    font-family:Arial, Helvetica, sans-serif;
}
.six-footer-menus ul{
    margin:0px;
    padding:0px;
}
.six-footer-menus li{
    list-style-type:none;
    font-size:14px;
    font-weight:500;
    text-decoration:none;
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
    padding:5px 5px 5px 5px;
}
.main-footer-section{
    display:flex;
    padding:10px 20px; 
    margin-left:60px;
}
.main-footer-menu{
    display:flex;
    margin-bottom:20px;
} 
.main-footer-menu li{
    font-size:14px;
    font-weight:500;
    text-decoration:none;
    color:#292929;
    font-family:Helvetica;
    padding:20px 20px;
    color:black;
}
.main-footer-menu a{
    font-size:14px;
    font-weight:500;
    text-decoration:none;
    color:#292929;
    font-family:Helvetica;
    text-decoration:none;
}
.copyright{
    display:flex;
    margin-left:150px;
}
.copyright .img-logo{
    padding-right:15px;
}
.copyright .img-logo p{
    vertical-align: middle;
}

/* Tablet View */
@media all and (min-width: 768px) and (max-width: 959px){
    footer{
        margin:0 auto;
    }
}
    /* Smartphone View */
    @media all and (max-width: 767px){
    footer{
        margin:0 auto;
    }
}