@import "cssreset.css";
@import "../css/header.css";
@import "../css/nav.css";
@import "../css/main-content.css";
@import "../css/footer.css";

html{
    margin:0;
    padding:0;
}
body{
    background-color:#ffffff;
    width:100%;
    margin:0 auto;
}
#main-wrapper{
    margin:0 auto;
}
button{
    width:200px;
    background:#FFBC0D;
    color:#292929;
    padding:13px 25px;
    border-radius:7px;
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
}
button a{
    text-decoration: none;
    color:#292929;
    font-family:Arial, Helvetica, sans-serif;
}



/* Tablet View */
/* @media all and (min-width: 768px) and (max-width: 959px){
    .main-wrapper{
        width:100%;
        text-align: center;
    }
    .main-container{
        width:100%;
        text-align: center;
    }
    .disclaimer{
        display: left;
    }    
} */

    /* Smartphone View */
    @media all and (max-width: 767px){
    #main-wrapper{
        width:100%;
        text-align: center;
    }
    .main-container{
        width:100%;
        text-align: center;
    }
    .disclaimer{
        display: none;
    }


    header{
        width:100%;
        margin-bottom:70px;
        /* text-align:center; */
    }

/*     
    .six-offers{
        color:#292929;
        padding:15px 15px;
        margin:10px 10px;
    }
    #main-content .row1to6-grid{
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows:450px 450px 700;
        grid-gap:10px;
    }
    .six-social-media-icons{
        width:100%;
        text-align: center;
    }
    .two-download-icons{
        display: flex;
    }
    .six-social-media-icons{
        padding-left: 10px;
        text-align: center;
    }
    .googleplay-apple-apps{
        padding-left:100px;
        display: flex;
    } */

    /* .six-footer-icon-links{
        width:100%;
        text-align: center;
    }





    .footer .top-footer-menu{
        width:100%;
    }
    .footer .top-footer-menu six-footer-menus{
        width:100%;
    }
    .main-footer-section .main-footer-menu{
        width:100%;
    } */
}