#main-content{
    margin:50px 0px;
}
.h2header{    
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder;
    font-size: 2.25rem;
    line-height: 1.2;
    color:#292929;
}
.paragraph{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:400;
    line-height: 1.2;
    color:#292929;
}
.six-offers{
    color:#292929;
    padding:15px 15px;
    margin:30px 5px;
}
#main-content .row1to6-grid{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:600px 675px;
    grid-gap:5px;
}
#main-content .googleplay-apple-apps{
    padding-left:450px;
    display: flex;
}


    /* Smartphone View */
    @media all and (max-width: 767px){
    #main-content .row1to6-grid{
        display:grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows:450px 450px 700;
        grid-gap:10px;
    }
    /* #main-content .six-footer-icon-links{
        width:100%;
        text-align: center;
    } */
    #main-content .six-social-media-icons{
        display: flex;
        /* padding-left:100px; */
        padding-left:400px;
    }
    #main-content .two-download-icons{
        display: flex;
        /* padding-left:10px; */
        padding-right:40px;
    }
    #main-content .googleplay-apple-apps{
        padding-right:40px;
        display: flex;
    }
}

