/*
nav.css: the main menu, the two top menus, and the logo
*/

/* styling for the navigation container */ 
#main-nav-wrapper{
    height:60px;
    display:flex;

    margin-top:50px;
}
/* styling for the logo-image */
.top-img-logo{
    width:8%;
}
.nav-section{
    /* width:90%; */
    /* border:1px solid blue; */
}
.top-menu-1{
    width:50%;
}
.top-menu-1{
    width:100%;
    display:flex;
    flex-direction:row;
    margin-left:30px;
}
.top-menu-1 li{
    padding:20px 15px 20px 20px;
    font-size:14px;
}
.top-menu-1 a{
    text-decoration:none;
    color:#6f6f6f;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    cursor: pointer;
}
.top-menu-2{
    width:50%;
}
.top-menu-2{
    width:100%;
    display:flex;
    flex-direction:row;
    margin-left:30px; 
}
.top-menu-2 li{
    padding:20px 15px 20px 20px;
    font-size:14px;
}
.top-menu-2 a{
    text-decoration:none;
    color:#6f6f6f;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:100;
    cursor: pointer;
}
.main-menu{
    margin-bottom:20px;
    margin-left:140px;
}
.main-menu ul{
    display:flex;
    flex-direction:row;
    justify-content:center;
    justify-content:flex-start;
}
.main-menu li{
    list-style-type:none;
    color:#292929;
    padding:20px 15px 20px 20px;
    font-size:16px;
}
.main-menu a{
    text-decoration:none;
    color:#292929;
    font-family:Arial, Helvetica, sans-serif;
    font-family:100;
    cursor: pointer;
}
